.orcamento {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #565656;
}

.orcamento-titulo {
  font-weight: bold;
  line-height: normal;
}

.orcamento-container {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  border-radius: 3px;
  padding-bottom: 1%;
  padding-top: 2%;
  width: 326px;
  height: 305px;
}

.orcamento-validade {
  font-weight: 300;
  line-height: 22px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cbcbcb;
  margin: 1em 0;
  padding: 0;
  margin-right: 13.8%;
  margin-left: 13.8%;
}

.orcamento-botao {
  background: #ef7e31;
  border-radius: 1px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;

  color: #ffffff;
}

.active {
  color: #ef7e31;
}

.label {
  width: 104px;
  height: 19px;
}

.label-contratado {
  background-color: #4983ef;
}

.avatar {
  border-radius: 50%;
}

.stars-icon {
  background: url(../images/star-grey.png);

  margin-top: 10px;
  display: block;
  height: 26px;
  width: 145px;
  background-size: contain;
}

.stars-icon-selected {
  background: url(../images/star.png);

  margin-top: 10px;
  display: block;
  height: 26px;
  width: 145px;
  background-size: contain;
}
